# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Build output
dist/
build/
out/
*.tsbuildinfo

# VSCode
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Logs
logs/
*.log

# Coverage
coverage/

# Others
.idea/
*.swp
*.swo
*.bak
*.tmp
